@using EventHorizon.Game.Editor.Client.Zone.Components.Selection
@inherits ZoneStatusModel

@if (!AccessToken.IsFilled)
{
    <span>@Localizer["Please Login..."]</span>
}
else if (SelectedZone.IsNull())
{
    <button class="selected-zone --no-border --disconnected"
        title="@Localizer["No Zone is Selected"]"
        type="button"
        @onclick="HandleOpenZoneSelection">
        <i class="selected-zone__icon fas fa-server"></i>
    </button>
}
else if (ZoneState.IsNotNull())
{
    <button class="selected-zone --no-border --connected"
        title="@Localizer["Connected to Zone {0}", SelectedZoneId]"
        type="button"
        @onclick="HandleOpenZoneSelection">
        <i class="selected-zone__icon fas fa-server"></i>
    </button>
}
else
{
    <button class="selected-zone --no-border --loading"
        title="@Localizer["Loading..."]"
        type="button"
        disabled="disabled">
        <i class="selected-zone__icon fas fa-server"></i>
    </button>
}

<ZoneSelectionModal IsOpen="IsZoneSelectionOpen"
                    Zones="Zones"
                    OnClose="HandleCloseZoneSelection"
                    ForceSelection="false"
                    OnZoneSelectionChanged="HandleZoneSelectionChanged"
                    SelectedZoneId="@SelectedZoneId" />
