@inherits ZoneSelectionModel

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div>
        @ErrorMessage
    </div>
}

@if (!AccessToken.IsFilled)
{
    <div>@Localizer["Please Login..."]</div>
}
else if (SelectedZone == null)
{
    <EditForm Model="this">
        <label>
            <InputSelect TValue="string"
                         ValueExpression="() => SelectedZoneId"
                         ValueChanged="HandleZoneSelectionChanged">
                <option value="">
                    @Localizer["Select a Zone..."]
                </option>
                @foreach (var zone in Zones)
                {
                    <option value="@zone.Id">@zone.Id</option>
                }
            </InputSelect>
        </label>
    </EditForm>
}
else
{
    if (ZoneState != null)
    {
        <div class="selected-zone"
             title="@Localizer["The Selected Zone is {0}", SelectedZoneId]">
            <div class="--font-bold">@Localizer["Selected Zone:"]</div>
            @SelectedZoneId
        </div>
    }
    else
    {
        <Loading />
    }
}
