@inherits ZoneStateProviderModel

@if (ZoneState != null)
{
    <CascadingValue Value="@ZoneState">
        @ChildContent
    </CascadingValue>
}
else if (!string.IsNullOrEmpty(ConnectionDisconnectionCode))
{
    <div class="disconnected" role="alert">
        <h2 class="disconnected__header">
            @Localizer["Connection Disconnected"]
        </h2>
        <p class="disconnected__reason">
            @Localizer["Disconnected Code: {0}", ConnectionDisconnectionCode]
        </p>
        <a href="#reload-page" @onclick="HandleReloadPage">
            @Localizer["Reload Page?"]
        </a>
    </div>
}
else
{
    <Loading />
}
<StandardModal IsOpen="IsReconnecting">
    <Body>
        <div class="reconnecting-modal__content" role="alert">
            <h3>
                @Localizer["Reconnecting to Zone Server..."]
            </h3>
        </div>
    </Body>
</StandardModal>
