@using EventHorizon.Game.Editor.Client.Shared.Properties
@inherits ObjectEntityEditorModel

<h3>@Localizer["Entity Editor ({0})", Entity.GlobalId]</h3>

<StandardToolbar>
    <StandardToolbarButton @onclick="HandleSave">
        @Localizer["Save"]
    </StandardToolbarButton>
    <StandardToolbarButton @onclick="HandleOpenHelp">
        @Localizer["Help"]
    </StandardToolbarButton>
    @if (EditorState.ShowDelete)
    {
        <StandardToolbarButton @onclick="HandleDelete">
            @Localizer["Delete"]
        </StandardToolbarButton>
    }
</StandardToolbar>

<div>
    <div class="object-entity-editor__properties">
        <div>
            <StringPropertyControl PropertyName="@nameof(EditEntity.Name)"
                                   Property="EditEntity.Name"
                                   OnChange="HandlePropertyChanged" />
        </div>
        <div>
            <label class="--font-bold">
                @Localizer["Entity Type"]
            </label>
            <input class="--text-input"
                   value="@Entity.Type"
                   disabled="disabled" />
        </div>
        <div>
            <VectorPropertyControl PropertyName="@nameof(EditEntity.Transform.Position)"
                                   Property="EditEntity.Transform.Position"
                                   OnChange="HandlePropertyChanged" />
        </div>
        <div>
            <VectorPropertyControl PropertyName="@nameof(EditEntity.Transform.Rotation)"
                                   Property="EditEntity.Transform.Rotation"
                                   OnChange="HandlePropertyChanged" />
        </div>
        <div>
            <VectorPropertyControl PropertyName="@nameof(EditEntity.Transform.Scaling)"
                                   Property="EditEntity.Transform.Scaling"
                                   OnChange="HandlePropertyChanged" />
        </div>
        <div>
            <DecimalPropertyControl PropertyName="@nameof(EditEntity.Transform.ScalingDeterminant)"
                                    Property="EditEntity.Transform.ScalingDeterminant"
                                    OnChange="HandlePropertyChanged" />
        </div>

        <div>
            <h3 class="--font-bold">
                @Localizer["Data Properties ({0})", EditEntity.Data.Count]
            </h3>

            <PropertiesDisplay Data="EditEntity.Data"
                               PropertiesMetadata="ZoneState.EditorState.Metadata"
                               OnChanged="HandleDataChanged"
                               OnRemove="HandleRemoveData" />
        </div>

        <div class="object-entity-editor__add-section">
            <EditForm class="add-section__form"
                      Model="NewPropertyModel"
                      OnSubmit="HandleAddProperty">
                <InputText class="c-text-input"
                           @bind-Value="NewPropertyModel.Name"
                           placeholder="@Localizer["New Property Name"]" />
                <button class="c-button select-client-entity__add-button"
                        type="submit">
                    @Localizer["Add"]
                </button>
                <button class="c-button select-client-entity__add-as-complex-button"
                        type="button"
                        @onclick="HandleAddComplexProperty">
                    @Localizer["Add as Complex"]
                </button>
            </EditForm>
            @if (!NewPropertyModel.IsValid)
            {
                <div class="object-entity-editor --error --font-bold">
                    @Localizer["Validation Error: {0}", NewPropertyModel.ErrorMessage]
                </div>
            }
        </div>
    </div>
</div>

<StandardModal IsOpen="IsHelpOpen" OnClose="HandleCloseHelp">
    <Header>
        <h2>@Localizer["Entity Editor Help"]</h2>
    </Header>
    <Body>
        <h3>@Localizer["Speical Property Types"]</h3>
        <div>
            @foreach (var property in ZoneState.EditorState.Metadata.ZoneEditorPropertyTypeMap)
            {
                <div>
                    <span class="--font-bold --font-underline --cursor-pointer"
                          title="@Localizer["Use '{0}' as a the name to create a '{1}' typed property.", property.Key, property.Value]">
                        @property.Key
                    </span> : @property.Value
                </div>
            }
        </div>
    </Body>
</StandardModal>