@inherits StandardSelectModel

<select class="standard-select"
        value="@SelectedValue"
        @onchange="@HandleSelectChanged"
        disabled="@IsDisabled">
    @foreach (var option in Options)
    {
        <option value="@option.Value">@option.Text</option>
    }
</select>
