@page "/sandbox/controls"
@using Microsoft.Extensions.Logging
@using EventHorizon.Game.Editor.Client.Zone.Components
@using EventHorizon.Game.Editor.Client.Zone.Components.FileExplorer

<button @onclick="HandleOpenWindow">Open Window</button>

<pre>
    @($@"
<StandardWindow IsOpen=""{IsWindowOpen}""
                IsDraggable=""{IsDraggable}""
                WidthSize=""{WidthSize}""
                HeightSize=""{HeightSize}"">
    <Header>
        <!-- HTML CONTENT -->
    </Header>
    <Body>
        <!-- HTML CONTENT -->
    </Body>
</StandardWindow>")
</pre>

<StandardWindow IsOpen="IsWindowOpen"
                IsDraggable="IsDraggable"
                WidthSize="@WidthSize"
                HeightSize="@HeightSize">
    <Header>Window</Header>
    <Body>
        <ZoneStateProvider>
            <EventHorizon.Game.Editor.Client.LiveEditor.Components.LiveEditor />
        </ZoneStateProvider>
        <h2>Content</h2>
        <div>
            <button @onclick="@(() => WidthSize = "small")">Width Small</button>
            <button @onclick="@(() => WidthSize = "medium")">Width Medium</button>
            <button @onclick="@(() => WidthSize = "large")">Width Large</button>
        </div>
        <div>
            <button @onclick="@(() => HeightSize = "small")">Height Small</button>
            <button @onclick="@(() => HeightSize = "medium")">Height Medium</button>
            <button @onclick="@(() => HeightSize = "large")">Height Large</button>
        </div>
    </Body>
</StandardWindow>

@code {
    public bool IsWindowOpen;
    public bool IsDraggable = true;
    public string WidthSize = "small";
    public string HeightSize = "small";
    public string Width = "200px";
    public string Height = "200px";

    public void HandleOpenWindow()
    {
        IsWindowOpen = true;
    }
}


<button @onclick="HandleOpenModal">Open</button>

<StandardModal IsOpen="IsOpen" OnClose="HandleCloseModal">
    <Header>
        <h2>Header</h2>
    </Header>
    <Body>
        <div>
            Body!
        </div>
    </Body>
    <Footer>
        <div>
            <button @onclick="HandleCloseModal">Cancel</button>
        </div>
    </Footer>
</StandardModal>


<div>
    <button @onclick="SendErrorMessage">Send Error Log Message</button>
</div>
<div>
    <button @onclick="SendInfoMessage">Send Info Log Message</button>
</div>
<div>
    <button @onclick="SendArgsMessage">Send Info w/Args Log Message</button>
</div>

@code {
    public bool IsOpen { get; set; }

    public void HandleOpenModal()
    {
        IsOpen = true;
    }

    public void HandleCloseModal()
    {
        IsOpen = false;
    }

    [Inject]
    public ILogger<Index> Logger { get; set; } = null!;

    public void SendErrorMessage()
    {
        try
        {
            throw new Exception("hello I am an Error Message");
        }
        catch (Exception ex)
        {
            Logger.LogError(
                ex,
                "Error Message 123-123-123-123"
            );
        }
    }

    public void SendInfoMessage()
    {
        Logger.LogInformation(
            "Standard Message 123-123-123-123"
        );
    }
    public void SendArgsMessage()
    {
        Logger.LogInformation(
            "Templated Message {Guid}",
            Guid.NewGuid().ToString()
        );
    }
}