<button type="button" @onclick="HandleOpenWizardSelection">
    @if (IsOpen)
    {
        @Localizer["Close Wizards"]
    }
    else
    {
        @Localizer["Wizards"]
    }
</button>

<StandardWindow IsOpen="State.CurrentStep && IsOpen" IsDraggable="true" WidthSize="medium">
    <Header>
        @State.CurrentStep.Result?.Name
    </Header>

    <Body>
        @if (State.IsEmbedded)
        {
            <FluentButton OnClick="HandleCloseModal">
                @Localizer["Currently Embedded, Click to Close Wizard Modal."]
            </FluentButton>
        }
        @if (State.CurrentStep)
        {
            <WizardStepEditor Step="State.CurrentStep.Result" Data="State.CurrentData" />
        }
    </Body>
</StandardWindow>

<StandardModal IsOpen="!State.CurrentStep && IsOpen" OnClose="HandleCloseModal">
    <Header>@Localizer["Wizard Editor"]</Header>

    <Body>
        <WizardList />
    </Body>
</StandardModal>

@code {
    [CascadingParameter]
    public WizardState State { get; set; } = null!;

    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;

    public bool IsOpen { get; set; }

    public void HandleOpenWizardSelection()
    {
        IsOpen = !IsOpen;
    }

    public void HandleCloseModal()
    {
        IsOpen = false;
    }
}
