@using EventHorizon.Game.Editor.Client.Wizard.Components.Renderer
@inherits WizardStepEditorModel

<div class="wizard-step-editor">
    <EditForm Model="Step" OnSubmit="HandleNextClicked">
        <div class="wizard-step-editor__form-content">
            <div class="wizard-step-editor__renderer">
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <div class="error-message">
                        @ErrorMessage
                    </div>
                }
                <WizardStepRenderer Step="Step"
                                    Data="Data" />
            </div>
            <div class="wizard-step-editor__toolbar">
                <StandardToolbar>
                    <StandardToolbarButton @onclick="HandlePreviousClicked"
                                           disabled="@IsPreviousDisabled()"
                                           type="button">
                        @Localizer["Previous"]
                    </StandardToolbarButton>
                    <StandardToolbarButton @onclick="HandleNextClicked"
                                           disabled="@IsNextDisabled()"
                                           type="submit">
                        @Localizer["Next"]
                    </StandardToolbarButton>
                    <StandardToolbarButton @onclick="HandleCancelClicked"
                                           disabled="@IsCancelDisabled()">
                        @Localizer["Cancel"]
                    </StandardToolbarButton>
                </StandardToolbar>
            </div>
        </div>

    </EditForm>
</div>
