@using BlazorMonaco.Editor
@inherits PropertyControlBase

<div class="complex-property-control">
    @if (ShowRemove)
    {
        <label class="--font-bold --cursor-pointer" title="@Localizer["Remove"]">
            <button class="c-button --text" type="button" @onclick="HandleRemove">
                &#10060
            </button>
            @LabelText
        </label>
    }
    else
    {
        <label class="--font-bold">
            @LabelText
        </label>
    }
    <div>
        <button @onclick="HandleOpenEditor" type="button">
            @Localizer["Open Editor"]
        </button>
        <details>
            <summary>
                @Localizer["Property Summary"]
            </summary>
            <div class="property-text">
                <DumpToJson Data="Property" />
            </div>
        </details>
    </div>
    <StandardModal IsOpen="IsEditorOpen" HideClose="true">

        <Body>
            <div class="property__editor-container">
                <StandaloneCodeEditor @ref="MonacoEditor" Id="@PropertyEditorId" CssClass="property__editor"
                    ConstructionOptions="BuildConstructionOptions" />
                <StandardToolbar class="property__editor-toolbar">
                    <StandardToolbarButton @onclick="HandleSave">
                        @Localizer["Save"]
                    </StandardToolbarButton>
                    <StandardToolbarButton @onclick="() => IsEditorOpen = false">
                        @Localizer["Cancel"]
                    </StandardToolbarButton>
                </StandardToolbar>
            </div>
        </Body>
    </StandardModal>
</div>
