@inherits PropertyDisplayModel
@using EventHorizon.Game.Editor.Properties.Model 
@using EventHorizon.Game.Editor.Zone.Editor.Services.Model

<div class="property-display">
    @switch (Property.Type)
    {
        case ZoneEditorPropertyType.PropertyBoolean:
            <BooleanPropertyControl PropertyName="@Property.Name"
                                    Property="Property.Value"
                                    Label="@Property.Label"
                                    OnChange="OnChanged"
                                    OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyDecimal:
            <DecimalPropertyControl PropertyName="@Property.Name"
                                    Property="Property.Value"
                                    Label="@Property.Label"
                                    OnChange="OnChanged"
                                    OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyLong:
            <LongPropertyControl PropertyName="@Property.Name"
                                 Property="Property.Value"
                                 Label="@Property.Label"
                                 OnChange="OnChanged"
                                 OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyString:
            <StringPropertyControl PropertyName="@Property.Name"
                                   Property="Property.Value"
                                   Label="@Property.Label"
                                   OnChange="OnChanged"
                                   OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyVector3:
            <VectorPropertyControl PropertyName="@Property.Name"
                                   Property="Property.Value"
                                   Label="@Property.Label"
                                   OnChange="OnChanged"
                                   OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyAsset:
            <AssetPropertyControl PropertyName="@Property.Name"
                                  Property="Property.Value"
                                  Label="@Property.Label"
                                  OnChange="OnChanged"
                                  OnRemove="OnRemove" />
            break;

        case ZoneEditorPropertyType.PropertyComplex:
            <ComplexPropertyControl PropertyName="@Property.Name"
                                    Property="Property.Value"
                                    Label="@Property.Label"
                                    OnChange="OnChanged"
                                    OnRemove="OnRemove" />
            break;

        case PropertyType.AssetServerFile:
            <AssetServerFilePropertyControl PropertyName="@Property.Name"
                                            Property="Property.Value"
                                            Label="@Property.Label"
                                            OnChange="OnChanged"
                                            OnRemove="OnRemove" />
            break;

        case PropertyType.AssetServerPath:
            <AssetServerPathPropertyControl PropertyName="@Property.Name"
                                            Property="Property.Value"
                                            Label="@Property.Label"
                                            OnChange="OnChanged"
                                            OnRemove="OnRemove" />
            break;

        case PropertyType.AssetServerFileName:
            <AssetServerFileNamePropertyControl PropertyName="@Property.Name"
                                            Property="Property.Value"
                                            Label="@Property.Label"
                                            OnChange="OnChanged"
                                            OnRemove="OnRemove" />
            break;

        default:
            <div>
                @Localizer["not_supported_property_type"]
            </div>
            break;
    }
</div>
