@using EventHorizon.Game.Editor.Client.Zone.EntityEditor.Components.Blades

@inherits BladeSelectionModel

<div class="blade">
    <div class="blade__title">
        <button class="title__text expanded-toggler"
                @onclick="ToggleNavMenu">
            @if (CollapseContent)
            {
                <i class="expanded-toggler-icon fas fa-chevron-right"
                   title="@Localizer["Expand Blade"]"></i>
                <span class="--sr-only">
                    @Localizer["Expand Blade"]
                </span>
            }
            else
            {
                <i class="expanded-toggler-icon fas fa-chevron-down"
                   title="@Localizer["Hide Blade Content"]"></i>
                <span class="--sr-only">
                    @Localizer["Hide Blade Content"]
                </span>
            }
            @LocalizeBlade(CurrentBlade)
        </button>
        <div class="title__text --desktop-only">@LocalizeBlade(CurrentBlade)</div>
        <span>
            <button class="blade__settings__open-button --no-border"
                    @onclick="HandleOpenSettings"
                    title="@Localizer["Open Settings for this Blade."]">
                <i class="fas fa-cogs"></i>
                <span class="--sr-only">
                    @Localizer["Open Settings for this Blade."]
                </span>
            </button>
            <StandardModal IsOpen="IsSettingsOpen"
                           OnClose="HandleCloseSettings">
                <Header>
                    <h2>@Localizer["Blade Settings"]</h2>
                </Header>
                <Body>
                    <EditForm Model="this">
                        <div>
                            <label>
                                @Localizer["Currently Active Blade"]
                            </label>
                            <StandardSelect Options="BladeOptions"
                                            ValueChanged="HandleBladeValueChanged"
                                            Value="SelectedBladeOption"></StandardSelect>
                        </div>
                    </EditForm>
                </Body>
            </StandardModal>
        </span>
    </div>

    <div class="blade__content @ContentCssClass">
        @switch (CurrentBlade)
        {
            case "ENTITY_LIST":
                <EntityListBlade />
                break;
            case "EDITOR_FILE_EXPLORER":
                <EditorFileExplorerBlade />
                break;
            case "OBJECT_ENTITY_EDITOR":
                <ObjectEntityEditorBlade />
                break;
            case "NAV_MENU":
                <NavMenuBlade />
                break;
            default:
                <div>
                    <label class="sr-only">
                        @Localizer["Select a Blade"]
                    </label>
                    <StandardSelect Options="BladeOptions"
                                    ValueChanged="HandleBladeValueChanged"
                                    Value="SelectedBladeOption"></StandardSelect>
                </div>
                break;
        }
    </div>
</div>
