@page "/asset/management/server/backups"
@using EventHorizon.Game.Editor.Client.AssetManagement.Components.Toolbars
@inherits AssetServerBackupsPageBase

<div class="asset-server-backups__page">
    <h1>
        @Localizer["Asset Server Backups"]
    </h1>

    <div class="asset-server-backups__toolbar">
        <AssetServerToolbar />
    </div>
   
    <table class="asset-server-backups__artifact-list --full">
        <thead>
            <tr>
                <th>@Localizer["Service"]</th>
                <th>@Localizer["Reference Id"]</th>
                <th>@Localizer["Created"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var backup in ArtifactList)
            {
                <tr>
                    <td>
                        @backup.Service
                    </td>
                    <td>
                        @backup.ReferenceId
                    </td>
                    <td>
                        @backup.CreatedDate
                    </td>
                    <td>
                        <a href="@backup.Path" target="_blank">
                            @Localizer["Download"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
