@page "/asset/management/server/imports"
@using EventHorizon.Game.Editor.Client.AssetManagement.Components.Toolbars
@inherits AssetServerImportsPageBase

<div class="asset-server-imports__page">
    <h1>
        @Localizer["Asset Server Imports"]
    </h1>

    <div class="asset-server-imports__toolbar">
        <AssetServerToolbar />
    </div>
   
    <table class="asset-server-imports__artifact-list --full">
        <thead>
            <tr>
                <th>@Localizer["Service"]</th>
                <th>@Localizer["Reference Id"]</th>
                <th>@Localizer["Created"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var import in ArtifactList)
            {
                <tr>
                    <td>
                        @import.Service
                    </td>
                    <td>
                        @import.ReferenceId
                    </td>
                    <td>
                        @import.CreatedDate
                    </td>
                    <td>
                        <a href="@import.Path" target="_blank">
                            @Localizer["Download"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
