@using EventHorizon.Game.Client.Core.Monitoring.Api
@using EventHorizon.ApplicationDetails.Component.Api

<div class="menu-bar">
    <div class="menu-bar__content">
        <button class="menu-toggler --no-border"
                title="@Localizer["Global Settings"]"
                type="button"
                @onclick="HandleOpenGlobalSettings">
            <i class="menu-toggler-icon fab fa-elementor"></i>
        </button>
        <a class="menu-brand navbar-brand" href="/">@Localizer["Game Editor"]</a>
        <ZoneStatus />
        <DisplayLoginStatus />
    </div>
</div>

<StandardModal IsOpen="IsGlobalSettingsOpen"
               OnClose="HandleCloseGlobalSettings">
    <Header>
        <h2>@Localizer["Global Settings"]</h2>
    </Header>
    <Body>
        <ZoneSelection />
        <div class="--spacing">
            @Localizer["Interface Id: {0}", PlatformMonitor.InterfaceId]
        </div>
        <div class="--spacing">
            @Localizer["Application Version: {0}", ApplicationDetailsState.ApplicationVersion]
        </div>
        <div class="--spacing">
            @Localizer["User Token: "]
            <input value="@AccessToken.AccessToken" />
        </div>
    </Body>
</StandardModal>

@code {
    [CascadingParameter]
    public ApplicationDetailsState ApplicationDetailsState { get; set; } = null!;
    [CascadingParameter]
    public AccessTokenModel AccessToken { get; set; } = null!;

    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;
    [Inject]
    public IPlatformMonitor PlatformMonitor { get; set; } = null!;

    private bool IsGlobalSettingsOpen { get; set; }

    private void HandleOpenGlobalSettings()
    {
        IsGlobalSettingsOpen = true;
    }

    private void HandleCloseGlobalSettings()
    {
        IsGlobalSettingsOpen = false;
    }
}
