@inherits StandardWindowModel

@if (IsDragging)
{
    <div class="skirt"
     @onmousemove="HandleElementDrag"
     @onmouseup="HandleStopDragging"></div>
}

<div class="standard-window @(IsOpen ? "--open" : "")"
     style="user-select: @(IsDragging ? "none" : "initial");
            pointer-events: @(IsDragging ? "none": "initial");
            left: @(PositionDetails.PosX + "px");
            top: @(PositionDetails.PosY + "px")"
     @onmousemove="HandleElementDrag">
    <div class="standard-window__grid @($"--width-{WidthSize}") @($"--height-{HeightSize}") @CollapseClassName">
        <div class="standard-window__header @(IsDraggable ? "--draggable" : string.Empty)">
            <div @onmousedown="HandleDragMouseDown"
                 @onmouseup="HandleStopDragging">
                @Header
            </div>
            <div>
                <button class="--transparent"
                        @onclick="HandleCollapse"
                        @onclick:preventDefault
                        @onclick:stopPropagation
                        title="@(IsCollapsed ? Localizer["Expand Window"] : Localizer["Collapse Window"])"
                        type="button">
                    <i class="fas fa-@CollapsedIcon"></i>
                    <span class="--sr-only">@(IsCollapsed ? Localizer["Expand Window"] : Localizer["Collapse Window"])</span>
                </button>
                @if (OnCloseTriggered.HasDelegate)
                {
                    <button class="--transparent"
                        @onclick="HandleTriggerCloseEvent"
                        @onclick:preventDefault
                        @onclick:stopPropagation
                        title="@Localizer["Close Window"]"
                        type="button">
                        <i class="far fa-window-close"></i>
                        <span class="--sr-only">@Localizer["Close Window"]</span>
                    </button>
                }
            </div>
        </div>
        <div class="standard-window__body"
             @ondblclick="HandleOpenCollapsed">
            @Body
        </div>
    </div>
</div>