@page "/data-storage"
@using EventHorizon.Game.Editor.Client.DataStorage.Components.Modal
@inherits DataStoragePageModel

<div class="data-storage-page">
    <h1>
        @Localizer["Data Storage Management"]
    </h1>
    <p class="page__description">
        @Localizer["This is the Management page for the Data Storage System. Use the below Grid to make changes to your Platform Data Store."]
    </p>

    <div>
        <StandardToolbar>
            <StandardToolbarButton @onclick="HandleNewDataValueClicked">
                @Localizer["New Data Value"]
            </StandardToolbarButton>
        </StandardToolbar>
    </div>

    <table class="data-storage__table">
        <thead>
            <tr>
                <th>@Localizer["Key"]</th>
                <th>@Localizer["Value"]</th>
                <th>@Localizer["Value Type"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataValue in DataValues.Where(FilterDataValues).OrderBy(a => a.Key))
            {
                <tr>
                    <td>
                        @dataValue.Key
                    </td>
                    <td>
                        @dataValue.Value
                    </td>
                    <td>
                        @DataStoreMetadata.GetPropertyType(dataValue.Key, dataValue.Value)
                    </td>
                    <td>
                        <button @onclick="@(() => HandleEditDataValue(dataValue.Key, dataValue.Value))">
                            @Localizer["Edit"]
                        </button>
                        <button @onclick="@(() => HandleDeleteDataValue(dataValue.Key))">
                            @Localizer["Delete"]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <DataValueEditModal IsOpen="IsEditOpen"
                        DataStoreMetadata="DataStoreMetadata"
                        Model="EditModalModel"
                        ContainsName="@(name => DataValues.ContainsKey(name))"
                        OnClose="@(() => IsEditOpen = false)"
                        OnSubmit="HandleDataValueEditSubmit" />

    <StandardModal IsOpen="IsDeleteConfirmOpen"
                   HideClose="true">
        <Header>
            <h2>
                @Localizer["Delete of Data Value"]
            </h2>
        </Header>
        <Body>
            @Localizer["Are you sure you want to delete this Data Value?"]
        </Body>
        <Footer>
            <div class="confirm-modal__actions">
                <button class="confirm-modal__button --error"
                        type="submit"
                        @onclick="HandleYesDelete">
                    @Localizer["Yes"]
                </button>
                <button class="confirm-modal__button"
                        type="button"
                        @onclick="HandleCloseDeletePrompt">
                    @Localizer["Cancel"]
                </button>
            </div>
        </Footer>
    </StandardModal>
</div>
