@using EventHorizon.Game.Editor.Client.Shared.Components.Activity
@using Microsoft.AspNetCore.Components.Authorization
@using EventHorizon.Game.Editor.Client.Shared.Toast
@using EventHorizon.Platform.LogProvider.Api
@using EventHorizon.ApplicationDetails.Component

<ApplicationDetailsProvider>
    <CascadingAuthenticationState>
        <AppCoreProviders>
            <Router AppAssembly="@typeof(Program).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            @if (context.User?.Identity?.IsAuthenticated.IsNotTrue() ?? true)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <h1>@Localizer["Not Authorized"]</h1>
                                <p>
                                    @Localizer["You are not authorized to access this resource."]
                                </p>
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1>@Localizer["Page Not Found"]</h1>
                    </LayoutView>
                </NotFound>
            </Router>
        </AppCoreProviders>

        <MessageToastContainer />
        <AppEnrichment />
        <ActivityTrackingComponent />

        <FluentDesignTheme Mode="DesignThemeModes.Dark" />
        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />
    </CascadingAuthenticationState>
</ApplicationDetailsProvider>

@code {
    [Inject]
    public required IJSRuntime JSRuntime { get; set; }
    [Inject]
    public required Localizer<SharedResource> Localizer { get; set; }
    [Inject]
    public required LoggingHostedService LoggingHostedService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EventHorizon.Blazor.Interop.EventHorizonBlazorInterop.JSRuntime = JSRuntime;

        await LoggingHostedService.StartAsync();
    }
}
