@inherits StandardModalModel

@if (IsOpen)
{
    <div id="@id"
         class="standard-modal @Theme"
         data-test-selector="standard-modal">
        <div class="standard-modal__overlay" @onclick="@HandleMouseClick">
        </div>
        <div class="standard-modal__content @SizeCss">
            @if (!HideClose)
            {
                <button class="standard-modal__close-button --no-border"
                        title="@Localizer["Close"]"
                        @onclick="OnClose">
                    <i class="far fa-times-circle"></i>
                    <span class="--sr-only">@Localizer["Close"]</span>
                </button>
            }
            @if (Header != null)
            {
                <div class="standard-modal__header @SizeCss"
                     data-selector="header">
                    @Header
                </div>
            }
            @if (Body.IsNotNull())
            {
                <hr />
                <div class="standard-modal__body"
                     data-selector="body">
                    @Body
                </div>
            }
            @if (Footer != null)
            {
                <hr />
                <div class="standard-modal__footer @SizeCss"
                     data-selector="footer">
                    @Footer
                </div>
            }
        </div>
    </div>
}
