@using EventHorizon.Game.Editor.Client.Shared.Properties
@inherits EditZoneGameAssetFormModel

<EditForm Model="Model"
          OnSubmit="HandleSubmit">

    <StandardToolbar class="form__toolbar">
        <StandardToolbarButton type="submit">
            @Localizer["Save"]
        </StandardToolbarButton>
        <StandardToolbarButton @onclick="HandleCancelClicked">
            @Localizer["Cancel"]
        </StandardToolbarButton>
        <StandardToolbarButton @onclick="HandleResetClicked">
            @Localizer["Reset"]
        </StandardToolbarButton>
    </StandardToolbar>

    <div class="game-asset-form__content">
        <ContainerStatesComponent State="MessageState">
            <LoadingFragment>
                <div class="form-item">
                    @Localizer["Loading..."]
                </div>
            </LoadingFragment>
            <ErrorFragment>
                <div class="form-item">
                    <span class="--error" role="alert">
                        @Message
                    </span>
                </div>
            </ErrorFragment>
        </ContainerStatesComponent>

        <div class="form-item">
            <h2 class="form__details-header">
                @Localizer["Asset Details"]
            </h2>
            <hr />
        </div>

        <div class="form-item">
            <label for="create-game-asset__name"
                   class="--font-bold">
                @Localizer["Asset Name"]
            </label>
            <InputText id="create-game-asset__name"
                       @bind-Value="@AssetName"
                       placeholder="@Localizer["Asset Name"]" />
        </div>

        <div class="form-item">
            <label for="create-game-asset__type"
                   class="--font-bold">
                @Localizer["Asset Type"]
            </label>
            <StandardSelect Options="AssetTypeOptions"
                            Value="@AssetTypeOption"
                            ValueChanged="HandleAssetTypeChanged"></StandardSelect>
        </div>

        <ContainerStatesComponent State="TypeDataState">
            <ContentFragment>
                <div class="form-item">
                    <h2 class="form__config-data-header">
                        @Localizer["Asset Configuration"]
                    </h2>
                    <hr />
                </div>

                <div class="form-item">
                    <PropertiesDisplay Data="TypeData"
                                       PropertiesMetadata="TypePropertiesMetadata"
                                       OnChanged="HandleTypeDataChanged" />
                </div>
            </ContentFragment>
        </ContainerStatesComponent>
    </div>

</EditForm>
