@page "/asset/management"
@code
{
    public const string Route = "/asset/management";
}

@inherits EditorComponentBase

<div class="asset-management__page">

    <h1>
        @Localizer["Asset Management"]
    </h1>

    <p class="page__description">
        @Localizer["This is the Asset Management Page, use this page to create/update/delete Assets on the current Active Zone and the Asset Server."]
    </p>

    <div class="management__link">
        <a href="/asset/management/zone">
            @Localizer["Zone Asset Management"]
        </a>
    </div>

    <div class="management__link">
        <a href="/asset/management/server">
            @Localizer["Asset Server Management"]
        </a>
    </div>

    <div class="management__link">
        <a href="@AssetServerArtifactPage.Route">
            @Localizer["Asset Server Artifacts"]
        </a>
    </div>

</div>
