@page "/asset/management"
@inherits EditorComponentBase

<div class="asset-management__page">

    <h1>
        @Localizer["Zone Asset Management"]
    </h1>

    <p class="page__description">
        @Localizer["This is the Zone Server Asset Management Page, use this page to create/update/delete Assets on the current Active Zone."]
    </p>

    <div class="management__link">
        <a href="/asset/management/server">
            @Localizer["Asset Server Management"]
        </a>
    </div>

    <div class="management__link">
        <a href="/asset/management/server/exports">
            @Localizer["Asset Server Exports"]
        </a>
    </div>

    <div class="management__link">
        <a href="/asset/management/zone">
            @Localizer["Zone Asset Management"]
        </a>
    </div>
</div>
