@inherits DropdownBase<TOption>
@typeparam TOption

<FluentStack VerticalGap="4" Orientation="Orientation.Vertical">
    <FluentButton id="@($"component-{_componentId}-button")" @onclick="HandleDropdownShow"
        IconEnd="new Icons.Regular.Size16.ChevronDoubleDown()">
        @Label
    </FluentButton>

    <div class="badge__container">
        @foreach (var option in SelectedOptions)
        {
            <FluentBadge title="@DeleteOptionTitle" OnClick="() => HandleRemoveOption(option)">@OptionText(option)
            </FluentBadge>
        }
    </div>

    <FluentMenu Anchor="@($"component-{_componentId}-button")" Style="max-height: 200px; overflow-y: auto;"
        @bind-Open="_showForceSet" HorizontalPosition="HorizontalPosition.Right">
        @foreach (var option in Options)
        {
            <FluentMenuItem Checked="@(SelectedOptions.Contains(option))" Role="MenuItemRole.MenuItemCheckbox"
                OnClick="(e) => HandleMenuItemClicked(option)">
                @OptionText(option)
            </FluentMenuItem>
        }
    </FluentMenu>
</FluentStack>
